<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class = "container-fluid">
    <h1>Здесь наши контакты </h1>
    <table border="5">
            <th>Должность</th>
            <th>Телефон</th>
            <tr>
                <td>Менеджер</td>
                <td>+7-977-100-200</td>
            </tr>
             <tr>
                    <td>Бухгалтер</td>
                 <td>+7-977-300-500</td>
                </tr>

        </table>
    </div>

</body>
</html>

